<?xml version="1.0"?>
<robot name="scoutm" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:arg name="camera_name" default="zed"/>
    <xacro:arg name="camera_model" default="zed"/>
    <xacro:arg name="use_zed_localization" default="false"/><!--should always defualt false given localization is running via robot_localization node
    -->
    <xacro:arg name="baseline" default="0.0"/>

    <!-- AgileX Scout mini + Lidar_base -->
    <xacro:include filename="$(find scout_description)/urdf/scout2.urdf.xacro"/>

    <!-- Add one ZED Camera -->
    <xacro:include filename="$(find zed_wrapper)/urdf/zed_macro.urdf.xacro"/>
    <xacro:zed_camera name="$(arg camera_name)" model="$(arg camera_model)" custom_baseline="$(arg baseline)">
        <gnss_origin/>
    </xacro:zed_camera>

    <joint name="$(arg camera_name)_joint" type="fixed">
        <parent link="base_link"/>
        <child link="$(arg camera_name)_camera_link"/>
        <origin
                xyz="0.3 0.0 .3"
                rpy="0 0 0"
        />
    </joint>


<!--    &lt;!&ndash; Add a joint to connect the ZED Camera to the robot  &ndash;&gt;
    <xacro:if value="$(arg use_zed_localization)">
        &lt;!&ndash; We really don't care about this part since we never use zed's localizer since we're using robot_localization instead
        ZED Localization -> The reference link is '$(arg camera_name)_camera_link' and 'base_link' is a child &ndash;&gt;
        <joint name="$(arg camera_name)_joint" type="fixed">
            <parent link="$(arg camera_name)_camera_link"/>
            <child link="base_link"/>
            <origin
                    xyz="1 0.0 -.5"
                    rpy="0 0 0"
            />
        </joint>

    </xacro:if>
    <xacro:unless value="$(arg use_zed_localization)">
        &lt;!&ndash; NO ZED Localization -> '$(arg camera_name)_camera_link' is a child of 'base_link' &ndash;&gt;
        &lt;!&ndash;original joint code goes here&ndash;&gt;
    </xacro:unless>-->
</robot>